<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">مینو</li>

                <li>
                    <a asp-controller="Home" asp-action="Index">
                        <i class="mdi mdi-view-dashboard"></i> <span> سەرەکی </span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"><i class="fas fa-cart-arrow-down"></i> <span> فڕۆشتن </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a asp-controller="SaleInvoices" asp-action="SaleDashboard">سەرەکی</a></li>
                        <li><a asp-controller="SaleInvoices" asp-action="Create">فڕۆشتنی نوێ</a></li>
                        <li><a asp-controller="SaleInvoices" asp-action="Index"> لیستی پسوولەکان </a></li>
                        <li><a asp-controller="SaleInvoices" asp-action="Index">وردەکاری فڕۆشتن</a></li>
                        <li><a asp-controller="SaleInvoices" asp-action="Profit">قازانج</a></li>

                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);"><i class="fas fa-shopping-cart"></i> <span> کڕین </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a asp-controller="PurchaseInvoices" asp-action="PurchaseDashboard">سەرەکی</a></li>
                        <li><a asp-controller="PurchaseInvoices" asp-action="Create">کڕینی نوێ</a></li>
                        <li><a asp-controller="PurchaseInvoices" asp-action="Index"> لیستی پسوولەکان </a></li>
                        <li><a asp-controller="PurchaseInvoices" asp-action="InvoiceListDetails">وردەکاری کڕین</a></li>

                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);"><i class="mdi dripicons-to-do"></i><span> ژمێریاری </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a asp-controller="ContactPayments" asp-action="Index">سەرەکی</a></li>
                        <li><a asp-controller="ContactPayments" asp-action="Create">پارەداه</a></li>
                        <li><a asp-controller="ContactPayments" asp-action="CreateInFlow">پارەوەرگرین</a></li>
                        <li><a asp-controller="ContactPayments" asp-action="Index">لیست</a></li>
                        <li><a asp-controller="SaleInvoices" asp-action="CapitalSheet">سەرمایە</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);"><i class="fas fa-users"></i> <span> بازرگان </span><span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a asp-controller="Contacts" asp-action="Create">زیادکردن</a></li>
                        <li><a asp-controller="Contacts" asp-action="Index">لیست </a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);"><i class="mdi dripicons-wallet"></i> <span> مەسروفات </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a asp-area="" asp-controller="Expenses" asp-action="Dashboard">سەرەکی</a></li>
                        <li><a asp-area="" asp-controller="Expenses" asp-action="Create">زیادکردن</a></li>
                        <li><a asp-area="" asp-controller="Expenses" asp-action="Index">لیست</a></li>
                        <li><a asp-area="" asp-controller="ExpensesCategories" asp-action="Create">زیادکردنی جۆر</a></li>
                        <li><a asp-area="" asp-controller="ExpensesCategories" asp-action="Index">لیستی جۆر</a></li>



                    </ul>
                </li>




                <li>
                    <a href="javascript: void(0);"><i class="fas fa-boxes"></i><span> کاڵا </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a asp-controller="Products" asp-action="Create">زیادکردن</a></li>
                        <li><a asp-controller="Products" asp-action="Index">لیست</a></li>
                        <li>
                            <a href="javascript: void(0);"><i class="fas fa-th-list"></i><span> جۆر </span> <span class="menu-arrow"></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a asp-controller="ProductCategories" asp-action="Create">زیادکردن</a></li>
                                <li><a asp-controller="ProductCategories" asp-action="Index">لیست</a></li>

                            </ul>

                        </li>

                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);"><i class="fas fa-money-check-alt"></i> <span> قاسە </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a asp-controller="Treasuries" asp-action="Dashboard">سەرەکی</a></li>
                        <li><a asp-controller="Treasuries" asp-action="Create">زیادکردن</a></li>
                        <li><a asp-controller="Treasuries" asp-action="Index"> لیست </a></li>

                    </ul>

                </li>

                <li>
                    <a href="javascript: void(0);"><i class="fas fa-balance-scale"></i> <span> باڵانسی قاسە </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a asp-controller="MoneyTransactions" asp-action="Create">زیادکردن</a></li>
                        <li><a asp-controller="MoneyTransactions" asp-action="CreateOut"> ڕاکێشان </a></li>
                        <li><a asp-controller="MoneyTransactions" asp-action="Index">لیست</a></li>
                        <li>
                            <a href="javascript: void(0);"><i class="mdi mdi-filter-variant"></i> <span>گواستنەوەی ڕەسید</span> <span class="menu-arrow"></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a asp-controller="TreasuryMoneyTransfers" asp-action="Create">زیادکردن</a></li>
                                <li><a asp-controller="TreasuryMoneyTransfers" asp-action="Index"> لیست </a></li>
                                <li><a asp-controller="TreasuryMoneyTransfers" asp-action="Index">سەرەکی</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0);"><i class="fas fa-warehouse"></i> <span> کۆگا </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a asp-controller="Products" asp-action="Stock">لیست</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);"><i class="fas fa-users"></i> <span> بەکارهێنەران </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a asp-controller="Users" asp-action="Create">زیادکردن</a></li>
                        <li><a asp-controller="Users" asp-action="Index"> لیست </a></li>

                    </ul>

                </li>
                <li>
                    <a href="javascript: void(0);"><i class="fas fa-users"></i> <span> ڕێخستن </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a asp-controller="Home" asp-action="BackupDatabase">هەڵگرتن</a></li>
                        <li><a id="restoreButton" asp-controller="Home" asp-action="RestorePage"> هێنانەوە </a></li>
                        
                    </ul>

                </li>


            </ul>

        </div>
        <!-- Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->
   
</div>

