@model ERManager.ViewModels.Treasury.TreasuryViewModel

@{
    ViewData["Title"] = "Edit";
}
<div class="container-fluid">
    <!-- Page title box -->
    <div class="page-title-box">
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Greeva</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">لیست</a></li>
            <li class="breadcrumb-item active">نوێکردنەوە قاسە </li>
        </ol>
        <h4 class="page-title">نوێکردنەوە قاسە</h4>
    </div>
    <!-- End page title box -->
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card-box">
                <h4 class="header-title m-t-0"> قاسە</h4>
                <p class="text-muted font-14 m-b-20">
                   نوێکردنەوە  قاسە
                </p>

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <input asp-for="TreasuryId" value=@Model.TreasuryId type="hidden">

                    <!-- Notes -->
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="control-label font-16">@Html.DisplayNameFor(model => model.Name)</label>
                        <input asp-for="Name" class="form-control form-control-lg"
                            placeholder="ناو" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <!-- Notes -->
                    <div class="form-group mb-3">
                        <label asp-for="Notes" class="control-label font-16">@Html.DisplayNameFor(model => model.Notes)</label>
                        <input asp-for="Notes" class="form-control form-control-lg"
                            placeholder="تێبینی" />
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                    <!-- Notes -->
                    <div class="form-group mb-3">
                        <label asp-for="CreatedAt" class="control-label font-16">@Html.DisplayNameFor(model => model.CreatedAt)</label>
                        <input asp-for="CreatedAt" class="form-control form-control-lg"
                            placeholder="بەروار" />
                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-2">
                        <input type="submit" value="نوێکردنەوە" class="btn btn-lg btn-primary " />
                        <a aps-aria="" asp-controller="Treasuries" asp-action="Index"class="btn btn-lg btn-info "> گەڕانەوە</a>

                    </div>
                </form>
            </div> <!-- end card-box -->
        </div> <!-- end col -->


    </div>
    <!-- end row -->
</div> <!-- end container-fluid-->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
