@model ERManager.Models.ExpensesCategory

@{
    ViewData["Title"] = "Create";
}
<div class="container-fluid">
    <!-- Page title box -->
    <div class="page-title-box">
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Greeva</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">لیست</a></li>
            <li class="breadcrumb-item active">زیادکردنی جۆری مەسروف</li>
        </ol>
        <h4 class="page-title">زیادکردنی جۆری مەسروف</h4>
    </div>
    <!-- End page title box -->
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card-box">
                <h4 class="header-title m-t-0">جۆری مەسروف</h4>
                <p class="text-muted font-14 m-b-20">
                   زیادکردنی جۆری مەسروف
                </p>

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                    <!-- Notes -->
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="control-label font-16">@Html.DisplayNameFor(model => model.Name)</label>
                        <input asp-for="Name" class="form-control form-control-lg"
                            placeholder="ناو" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group mt-4">
                        <input type="submit" value="زیادکردن" class="btn btn-primary btn-block" />
                    </div>
                </form>
            </div> <!-- end card-box -->
        </div> <!-- end col -->


    </div>
    <!-- end row -->
</div> <!-- end container-fluid-->

@section Scripts {

}